{% extends 'base.html.twig' %}
{% block title %}
	Movies Page
{% endblock %}

{% block body %}
	<h1 class="bg-blue-500 text-2xl text-center font-bold">Hi how are you</h1>
	<img src="{{asset('build/images/forest.5015ef35.png')}}" alt="">
{% endblock %}
